<section>
  <header class="header">
    <h1>Создание нового блога</h1>
    <input class="title" placeholder="Введите заголовок" autofocus="" [(ngModel)]="blog.title"><br>
    <textarea class="desc" [(ngModel)]="blog.description" placeholder="Введите описание" SIZE="40"
              autofocus=""></textarea><br>
    <button (click)="addBlog()">Добавить</button>

    <input type="text" *ngIf="blog.isEdit" [(ngModel)]="blog.title">
  </header>
  <section class="main" *ngIf="blogs.length > 0">
    <div class="content" *ngFor="let blog of blogs">
      <div>
        <span style="font-size: 20px">{{blog.title}}</span>
        <span style="margin-left: 5%;">
          <img src="../assets/eye-icon.png" style="width: 20px" (click)="openWarningPopup(blog)">
          <img src="../assets/edit-icon.png" (click)="editBlog(blog)" style="width: 20px">
          <img src="../assets/delete-icon.png" (click)="removeTodo(blog)" style="width: 20px">
          </span>
      </div>


      <div class="edit_box" *ngIf="blog.isEdit">
        <td><input type="text" [(ngModel)]="blog.title"></td>
        <span>Описание:</span>
        <td><input type="text" [(ngModel)]="blog.description"></td>
      </div>
    </div>
  </section>
</section>
